[submodule "y"]
	path = rtl/common_cells
	url = git@github.com:pulp-platform/common_cells.git
[submodule "rtl/tech_cells_generic"]
	path = rtl/tech_cells_generic
	url = git@github.com:pulp-platform/tech_cells_generic.git
