driver/build*
/change-author.sh
build
TAGS
gmon.out
*.o
*.so
/trdb/scratch
/trdb/trdb
/trdb/tests
work/
trdb/doc/
/modelsim.ini
/driver/wave.do
/transcript
/vsim.wlf
/vsim.dbg
/vloggy
*.wlf
*.dbg
*.vstf
.build-rtl
.lib-rtl
.opt-rtl
*.riscv.cvs
